.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-300;
  border-radius: 8px;
  &:hover {
    @include shadow-s;
  }
}
.app-feature-main-div {
  .app-feature-logos {
    padding-top: 60px;
    display: none;
    .box-logo {
      padding: 30px 80px;
    }

    @include md {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @include lg {
    }
  }
}

// SECTION PART

.app-feature-main-div {
  padding: 0px 15px;
  .features-secton {
    margin-top: 100px;

    .feature-mobile {
      display: grid;
      justify-content: center;
    }
    .feature-text {
      .app-fetures {
        h1 {
          margin-top: 70px;
          @include h1;
          display: grid;
          justify-content: center;
          @include lg {
            display: grid;
            margin-top: 0px;
            justify-content: flex-start;
          }
        }
        p {
          @include text-lg;
          margin-top: 30px;
          display: grid;
          justify-content: center;
          @include lg {
            display: grid;
            justify-content: flex-start;
          }
        }
      }
      .text-and-logo {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .text-and-logo-A,
      .text-and-logo-B {
        display: grid;
        gap: 90px;
        .easyPayment {
          display: flex;
          gap: 20px;
          .text {
            padding-right: 0px;
            @include lg {
              padding-right: 60px;
            }
            @include md {
              padding-right: 60px;
            }

            h4 {
              @include h5;
            }
            p {
              @include text-lg;
            }
          }
        }
      }
    }
    @include lg {
      display: grid;
      grid-template-columns: 35rem 1fr;
      .feature-mobile {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
