.footer-main-div-wrapper {
  height: auto;
  background-color: $dark;
  color: #fff;
  display: grid;
  padding: 80px 0px;

  @include xl {
    display: flex;
    .logo-subcribe {
      flex: 1;
    }
    .footer-links {
      flex: 1;
    }
  }
  .logo-subcribe {
    display: grid;
    justify-content: center;
    padding: 0px 10px;
    align-items: center;

    .footer-logo {
      display: flex;
      gap: 8px;

      @include lg {
        justify-content: flex-start;
      }
    }

    .footer-silicon-text {
      p {
        margin-top: 30px;
        display: flex;
        @include text-s;
        color: $gray-500;
        @include lg {
          justify-content: flex-start;
        }
        @include md {
          justify-content: flex-start;
        }
      }
    }
    .subscribe-newsLetter {
      margin-top: 40px;
      display: grid;
      gap: 7px;
      @include lg {
        justify-content: flex-start;
      }
      @include md {
        justify-content: flex-start;
      }
      h5 {
        @include h6;
        color: #fff;
        margin-bottom: 8px;
      }
      .input-wrapper-footer {
        display: flex;
        .input-container-footer {
          width: 250px;
          display: flex;
          align-items: center;
          border: 1px solid #817d7d;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          overflow: hidden;
          .left-section-footer {
            display: flex;
            align-items: center;
            padding: 8px;
            background-color: transparent;
            i {
              color: #555;
            }
          }
        }
        input {
          border: none;
          outline: none;
          width: 200px;
          padding: 10px;
          background-color: transparent;
        }
        .subscribe-button-footer {
          color: white;
          border: none;
          padding: 10px 24px;
          cursor: pointer;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
    .Footer {
      p {
        color: $gray-500;
        display: flex;
        @include lg {
          justify-content: flex-start;
        }
        @include md {
          justify-content: flex-start;
        }
      }
      margin-top: 50px;
      @include text-s;
      color: #fff;
    }
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;

    @include lg {
      display: flex;
      justify-content: center;
    }
    @include md {
      display: flex;
      justify-content: center;
    }
  }
  .link-div,
  .link-div-three {
    ul {
      margin-top: 50px;
      li {
        list-style: none;
        display: grid;
        justify-content: flex-start;

        a {
          color: #fff;
          transition: color 0.3s;
          margin-top: 10px;
        }
        a:hover {
          @include h6;
          color: rgb(75, 75, 228);
        }
      }
    }
  }
}
.link-div-three {
  margin-bottom: 20px;
  ul {
    li,
    a {
      display: grid;
      justify-content: flex-start;
      @include lg {
        justify-content: flex-start;
      }
      @include md {
        justify-content: flex-start;
      }
      a {
        color: #fff;
      }
    }
  }
}
