@import "../core/media";
@import "../core/base";
.main-vid-homePage {
  display: grid;
  gap: 5px;

  .homepage-text-div {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .homepage-image-div {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
@include md {
  .main-vid-homePage {
    @include BasicFlexContainer;
    height: 100vh;
    .homepage-text-div {
      display: flex;
      flex: 1;
    }
    .homepage-image-div {
      flex: 1;
    }
  }
}
