@import "../core/media";
@import "../core/base";
@import "../core/typhographt";
@import "../../scss/components/buttons";
.main-vid-homePage {
  @include basicLRpadding;
  background: $gradient-background;

  .container {
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "homepage-mobile"
      "content";

    @include lg {
      padding: 100px 0 0 0;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "content  homepage-mobile";
    }
    .homepage-mobile {
      grid-area: homepage-mobile;

      .MobileImage {
        @include imageAdapt;
      }
    }
    .content {
      grid-area: content;
      display: grid;
      grid-template-rows: auto auto auto 1fr;
      text-align: center;
      padding: 10px 0;
      @include lg {
        text-align: left;
        width: 80%;
        padding: 20px 0 50px 0;
      }

      h1 {
        @include h2;
        @include lg {
          @include d4;
        }
      }
      p {
        @include text-lg;
        margin: 10px 0;
      }

      .apps-logo {
        display: grid;
        gap: 20px;
        justify-content: center;
        @include lg {
          display: flex;
          justify-content: flex-start;
        }
        img {
          display: block;
          width: 100%;
        }
      }
      .discover-more {
        align-self: flex-end;
        @include text-lg;
        a {
          display: flex;
          justify-content: center;
          text-decoration: none;
          align-items: center;
          gap: 20px;
          margin-top: 10px;
          @include lg {
            justify-content: flex-start;
          }
          .discover-more {
            color: $gray-700;
          }
        }
        .round-cirkel {
          display: none;
        }
        @include lg {
          .round-cirkel {
            display: flex;
          }
        }
      }
    }
  }
}
