@import "../core/base";

.main-vid-homePage {
  @include BasicFlexContainer;
  background-color: #fefbff;
  height: 100hv;
  .image-div {
    margin-top: 50px;
    img {
      height: 580px;
    }
  }
  @media (max-width: 992px) {
    display: block;
  }
}
