@import "../core/colors";
@mixin button {
  display: flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
}

.button-primary {
  @include button;
  color: $white;
  background: $primary;
  border: none;

  &:hover {
    text-decoration: none;
    background: $secondary;
  }
}

.mobile-menu {
  padding: 18px 22px;
  font-size: 2em;
  background: $transparent;
  border: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background: transparent;
  }
}

@mixin circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  @include shadow-s;
}

.round-cirkel,
.button-circle,
i.buttion-circle,
a.buttion-circle {
  @include circle-button;
  color: $gray-900;
  background: $white;
  border: none;
  transition: all 0.15s ease-in-out;
}

.login-logout {
  background-color: $primary;
  color: #fff;
  border: none;
  padding: 9px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    background-color: $primary;
  }

  .fa-icon {
    font-size: 12px;
  }
}
