.newspage-wrapper {
  .dont-miss {
    display: grid;
    justify-content: center;
    align-items: center;

    .redio-buttons-div {
      background-color: $danger;
      //   display: flex;
      //   gap: 30px;
    }
  }
}
