.faield-message {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 50px;
  left: 40%;
  background-color: #ad020219;
  @include shadow-m;
  padding: 10px 70px;
  border-radius: 7px;
  z-index: 9999;

  .success-text {
    @include text-m;
    color: red;
  }
}
