@import "./core/Basic-Style";

header .header-container {
  @include flexContainer;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(232, 229, 235);
  .logo-and-text {
    display: flex;
    align-items: center;
  }
  .logo-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .navigation-bar {
    ul {
      display: none;

      li {
        font-size: larger;
        margin-right: 30px;
      }
    }
  }
  .toggle-login {
    display: none;
    align-items: center;
    padding-left: 30px;
  }
  .toggle-login > div {
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  header .header-container {
    .navigation-bar {
      ul {
        display: flex;
        li {
          color: black;
        }
      }
    }
    .toggle-login {
      display: flex;
    }
    .burgerMenue {
      display: none;
    }
  }
}
